<!DOCTYPE html>
<html lang="en" ng-app="BuzzwordBingo">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <title>buzzword bingo</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400italic' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

</head>
<body>
    <div id="navigation">
    </div>
            
    <div class="intro">  
        <h1>Buzzword Bingo</h1>
        </br>
        <h2>Bored at yet another meeting or conference? </br>Add 16 words and click on each one when you hear it.</h2>
        </br>
        <div class="buzzform" ng-controller="PostCtrl as post">
            <form ng-submit="post.addBuzzword(post.newBuzzword)">
                <input type="text" ng-model="post.newBuzzword"/>
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
    </br>
    <div class="buzzcontainer"> 
        <div ng-controller="ListCtrl as list">
            <div class="buzzbox" ng-repeat="buzzword in list.buzzwords | limitTo: 16" ng-style="myStyle" ng-click="myStyle={'background-color':'#1abc9c'}"><p>{{buzzword.text}}</p></div>
        </div>
    </div>
    </br>

</body>
</html>